/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
.row {
  font-family: "Inter";
}

.button {
  background-color: #fd6f00;
  color: white;
}

.bank {
  height: 100%;
  width: 75%;
  text-align: center;
}

.first {
  margin-top: 6rem;
}
