@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.pos{
    position: absolute;
    right: 3rem;
}

content{
    font-family: 'Poppins', sans-serif;
    margin-right: 10rem;
}

.bord{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 40%;
    opacity: 0.5;
}